@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-default;
  }

  body * {
    @apply transition-colors duration-300 ease-in-out;
  }
}

@layer components {
  .hero__heading {
    @apply text-5xl text-primary font-display relative sm:text-7xl md:text-9xl dark:text-white;
  }
}